<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-a00377571/blob/main/Data_Analysis_Modulo5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

#Tecnológico de Monterrey.

MARCO ANTONIO ARELLANO HERNÁNDEZ.
Matrícula: A00377571

#**============= MODULO 5 Data Analysis with Python ===============**
#**Model Evaluation and Refinement**

> Los objetivos de este modulo son adquirir las habilidades para la evaluación y refinamento  de los modelos.

In [2]:
! mamba install pandas==1.3.3 -y
! mamba install numpy=1.21.2 -y
! mamba install sklearn=0.20.1 -y
! mamba install   ipywidgets=7.4.2 -y
! mamba install tqdm

/bin/bash: mamba: command not found
/bin/bash: mamba: command not found
/bin/bash: mamba: command not found
/bin/bash: mamba: command not found
/bin/bash: mamba: command not found

In [11]:
import pandas as pd
import numpy as np
!pip install piplite
!pip install micropip
import micropip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement piplite (from versions: none)
ERROR: No matching distribution found for piplite
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting micropip
  Downloading micropip-0.1.0-py3-none-any.whl (32 kB)
Installing collected packages: micropip
Successfully installed micropip-0.1.0

SyntaxError: ignored

In [12]:
# Descargar el data set de la siguiente pagina.
path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/module_5_auto.csv'

In [13]:
df = pd.read_csv(path)

In [14]:
df.to_csv('module_5_auto.csv')

Utilizaremos sólo los valores numericos.
Se aplica una función para obtenerlos y guardarlos en df.

In [15]:
df=df._get_numeric_data()
# Mostramos los primeros 5 valores.
df.head()

,Unnamed: 0,Unnamed: 0.1,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
0,0,0,3,122,88.6,0.811148,0.890278,48.8,2548,130,...,2.68,9.0,111.0,5000.0,21,27,13495.0,11.190476,0,1
1,1,1,3,122,88.6,0.811148,0.890278,48.8,2548,130,...,2.68,9.0,111.0,5000.0,21,27,16500.0,11.190476,0,1
2,2,2,1,122,94.5,0.822681,0.909722,52.4,2823,152,...,3.47,9.0,154.0,5000.0,19,26,16500.0,12.368421,0,1
3,3,3,2,164,99.8,0.848630,0.919444,54.3,2337,109,...,3.40,10.0,102.0,5500.0,24,30,13950.0,9.791667,0,1
4,4,4,2,164,99.4,0.848630,0.922222,54.3,2824,136,...,3.40,8.0,115.0,5500.0,18,22,17450.0,13.055556,0,1

In [16]:
# Aquí se importan las librerías para graficar.
from ipywidgets import interact, interactive, fixed, interact_manual

Se crean unas funciones para graficar.

In [17]:
def DistributionPlot(RedFunction, BlueFunction, RedName, BlueName, Title):
    width = 12
    height = 10
    plt.figure(figsize=(width, height))

    ax1 = sns.distplot(RedFunction, hist=False, color="r", label=RedName)
    ax2 = sns.distplot(BlueFunction, hist=False, color="b", label=BlueName, ax=ax1)

    plt.title(Title)
    plt.xlabel('Price (in dollars)')
    plt.ylabel('Proportion of Cars')

    plt.show()
    plt.close()

In [18]:
def PollyPlot(xtrain, xtest, y_train, y_test, lr,poly_transform):
    width = 12
    height = 10
    plt.figure(figsize=(width, height))
    
    
    #training data 
    #testing data 
    # lr:  linear regression object 
    #poly_transform:  polynomial transformation object 
 
    xmax=max([xtrain.values.max(), xtest.values.max()])

    xmin=min([xtrain.values.min(), xtest.values.min()])

    x=np.arange(xmin, xmax, 0.1)


    plt.plot(xtrain, y_train, 'ro', label='Training Data')
    plt.plot(xtest, y_test, 'go', label='Test Data')
    plt.plot(x, lr.predict(poly_transform.fit_transform(x.reshape(-1, 1))), label='Predicted Function')
    plt.ylim([-10000, 60000])
    plt.ylabel('Price')
    plt.legend()

#>**Parte 1: Entrenamiento y chequeo.**

Una paso importante en el testeo de tu modelo es separar tus set de datos en dos partes:  Set para entrenamiento y set para crequeo. ++

Colocaremos el los datos objetivo en otro data frame es decir la columba Price en otro dataframe llamado **Y_data**:

In [19]:
y_data = df['price']

Colocar los datos de price en el data frame **x_data**

In [20]:
x_data=df.drop('price',axis=1)

Ahora de manera aleatorea separamos nuestros datos en datos de entrenamiento y datos de prueba usando la función **train_test_split**

In [21]:
from sklearn.model_selection import train_test_split


x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.10, random_state=1)


print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

number of test samples : 21
number of training samples: 180

El parámetro test size, indica la proporción de datos que van a ser separados para las pruebas o test en este caso son el 10% de los datos totales.